/* Your CSS Code here. */
    table {
      border-collapse: collapse;
	  font-size:11px;
      margin: 30px auto;
      font-family: Arial;
      text-align: justify;
      width: 100%;
    }

    th, td {
      border: 1px solid #000;
      padding: 5px auto;
    }

    thead th {
      background-color:#C0504D;
      color: white;
    }

   td{
	text-align:right;
	}


   