/* Your CSS Code here. */
    table {
      border-collapse: collapse;
	  font-size:12px;
      margin: 40px auto;
      font-family: Arial;
      text-align: justify;
      width: 100%;
	  padding: 10px;
    }

    th, td {
      border: 1px solid #000;
      padding: 5px auto;
    }

    thead th {
      background-color:#C0504D;
      color: white;
    }

	 td{
	text-align:right;
	}


   